<h1> Game on! it's... </h1>
<h1> <%= @player_1.name %> vs <%= @player_2.name %>!!</h1>
<br>
<h2> <%= @player_2.name %> has <%=@player_2.hit_points%> hit points </h2>
<br>
<form action="/attack">
  <input type="submit" value="Attack Player 2">
</form>
