<h1> Game on! it's... </h1>
<h1> <%= @game.player_1.name %> vs <%= @game.player_2.name %>!!</h1>
<br>
<h2> <%= @game.player_2.name %> has <%=@game.player_2.hit_points%> hit points </h2>
<br>
<form action="/attack">
  <input type="submit" value="Attack Player 2">
</form>
